.home-image-container {
    display: flex;
    gap: 2%;
}

// img[alt='logo'] {
//     // flex: 0 0 auto;
// }

.text-block {
    margin-top: 2%;
    flex: 0 0 65%;
}

.status-text {
    margin-left: 32px;
}

.indicator {
    width: 20px;
    height:20px;
    border-radius: 50%;
    border: 2px solid #CCC;
    position: absolute;
}

.offline {
    background-color: red;
}
.online {
    background-color: green;
}
.busy {
    background-color: yellow;
}

i {
    font-style: normal;
}

figcaption {
    text-align: center;
    font-style: italic;
}

article p {
    margin-top: 4px;
    margin-bottom: 8px;
}

// Mobile
@mixin media-max-width($max-width) {
    @media (max-width: $max-width) {
      @content;
    }
  }  
@include media-max-width(500px) {
    body {
        font-size: 12px !important;
    }
    pre {
        font-size: 12px !important;
    }
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    h3 {
        font-size: 14px !important;
    }
    h4 {
        font-size: 11px !important;
    }
    h5 {
        font-size: 10px !important;
    }
    h6 {
        font-size: 10px !important;
    }
    .btn {
        font-size: 10px;
    }
    .text-box {
        font-size: 12px;
    }
}
//